{% extends "chatrooms/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-light bg-light sticky-top navbar-profile">
    <div class="container-fluid d-flex justify-content-between">
        <button class="btn btn-primary" onclick="location.href='{% url 'edit-profile' %}'">Edit Profile</button>
        <button class="btn btn-primary" onclick="location.href='{% url 'account_logout' %}'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd"
                      d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
        </button>
    </div>
</nav>

{% endblock %}
{% block content %}
<div class="container">

    <div class="card-body">
        <div class="text-center mb-4">
            <img src="{% static 'profile.jpg' %}" class="rounded-circle" alt="Profile Picture" width="150" height="150">
        </div>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        {% if user.business_sector %}<p><strong>Business Sector:</strong> {{ user.business_sector }}</p>{% endif %}
        {% if user.company %}<p><strong>Company:</strong> {{ user.company }}</p>{% endif %}
        {% if user.expertise %}<p><strong>Expertise:</strong> {{ user.expertise }}</p>{% endif %}
        {% if user.resources %}<p><strong>Resources:</strong> {{ user.resources }}</p>{% endif %}
        {% if user.achievements %}<p><strong>Achievements:</strong> {{ user.achievements }}</p>{% endif %}
        {% if user.goals %}<p><strong>Goals:</strong> {{ user.goals }}</p>{% endif %}
        {% if user.requests %}<p><strong>Requests:</strong> {{ user.requests }}</p>{% endif %}
        {% if user.city %}<p><strong>City:</strong> {{ user.city }}</p>{% endif %}
        {% if user.date_of_birth %}<p><strong>Date of Birth:</strong> {{ user.date_of_birth }}</p>{% endif %}
        {% if user.hobbies %}<p><strong>Hobbies:</strong> {{ user.hobbies }}</p>{% endif %}
        {% if user.education %}<p><strong>Education:</strong> {{ user.education }}</p>{% endif %}
        {% if user.interesting_facts %}<p><strong>Interesting Facts:</strong> {{ user.interesting_facts }}</p>{% endif %}
        {% if user.marital_status %}<p><strong>Marital Status:</strong> {{ user.marital_status }}</p>{% endif %}
        {% if user.phone_number %}<p><strong>Phone Number:</strong> {{ user.phone_number }}</p>{% endif %}
        {% if user.website %}<p><strong>Website:</strong> <a href="{{ user.website }}">{{ user.website }}</a></p>{% endif %}
        {% if user.social_media_links %}<p><strong>Social Media Links:</strong> {{ user.social_media_links }}</p>{% endif %}
    </div>

</div>

{% endblock %}

{% block footer %}
{% include "chatrooms/footer.html" %}
{% endblock %}
