{% extends "chatrooms/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-light bg-light sticky-top navbar-profile">
    <div class="container-fluid d-flex justify-content-between">
        <button class="btn btn-primary" onclick="location.href='{% url 'edit-profile' %}'">Edit Profile</button>
        <button class="btn btn-primary" onclick="location.href='{% url 'account_logout' %}'">
            Logout
        </button>
    </div>
</nav>
{% endblock %}
{% block content %}
{% include 'profiles/user_card.html' %}
{% endblock %}
{% block footer %}
{% include "chatrooms/footer.html" %}
{% endblock %}
