{% extends "chatrooms/base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-light bg-light sticky-top navbar-room">
    <div class="container-fluid d-flex justify-content-between">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'event_list_nav' year=prev_year month=prev_month %}">< Previous</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'event_create' %}">Create New Event</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'event_list_nav' year=next_year month=next_month %}">Next ></a>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>{{ month_name }} {{ year }}</h2>
        </div>
        <div class="row">
            <div class="col" style="font-size: 14px;">Mon</div>
            <div class="col" style="font-size: 14px;">Tue</div>
            <div class="col" style="font-size: 14px;">Wed</div>
            <div class="col" style="font-size: 14px;">Thu</div>
            <div class="col" style="font-size: 14px;">Fri</div>
            <div class="col" style="font-size: 14px;">Sat</div>
            <div class="col" style="font-size: 14px;">Sun</div>
        </div>

        {% for week in month %}
        <div class="row">
            {% for day in week %}
            <div class="col day">
                {% if day < 1 or day > days_in_month %}
                {% else %}
                <a href="{% url 'event_day' year month_number day %}">
                    <span>{{ day }}</span>
                    <div class="event-dots">
                        {% for event in events %}
                        {% if event.start_datetime.day == day %}
                        <span class="dot"></span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    {% for event in events %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text">{{ event.description }}</p>
            <a href="{% url 'event_detail' event.pk %}" class="btn btn-primary">Read More</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
{% include "chatrooms/footer.html" %}
{% endblock %}

{% block extrajs %}
<script src="{% static 'events.css' %}"></script>
{% endblock %}
