{% extends "chatrooms/base.html" %}
{% load humanize %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'create_group_chat' %}">Create Group Chat</a>
        </div>
    </div>
</nav>

{% endblock %}
{% block content %}

<div class="list-group">
    {% if chats_with_recipients %}
    {% for item in chats_with_recipients %}
    <a href="{% url 'room' room_uuid=item.room_id %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ item.recipient_names }}</h5>
            <small class="text-body-secondary">{{ item.chat.timestamp|timesince }} ago</small>
        </div>
        <p class="mb-1">{{ item.chat.content }}.</p>
    </a>
    {% endfor %}
    {% else %}
    <p>No messages yet.</p>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
{% include "chatrooms/footer.html" %}
{% endblock %}
