{% extends "chatrooms/base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Residents</h2>
    <ul class="list-group list-group-flush">
        {% for user in users %}
        <li class="list-group-item"><a href="{% url 'start-chat' username=user.username %}">{{ user.username }}</a></li>
        {% empty %}
        <li class="list-group-item">No other users found.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block footer %}
{% include "chatrooms/footer.html" %}
{% endblock %}
